<div class="jumbotron">
    <div class="container" id="jumbotronContainer">

    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4" id="col1">
            <h2>What's On</h2>
            <p>Find cool movies by searching it from the search-bar above</p>
        </div>
        <div class="col-lg-4"  id="col2">
            <h2>This is just a demo</h2>
            <p>Dunno what to write here<p>
        </div>
        <div class="col-lg-4"  id="col3">
            <h2>Weather Tomorrow?</h2>
            <p>Find out what is the forecast for the upcoming days</p>
            <p><a class="btn btn-default" href="Weather">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; EmailVision 2013</p>
    </footer>
</div>